<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron jumbotron-{{#severity this}}{{/severity}}">
            <h2><small>Trening 25. juni 2016</small></h2>
            <h1 class="jumbotron-header-{{#severity this}}{{/severity}}">THE GAME IS ON!</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        <div class="panel panel-default large-box">
            <div class="panel-body">
                <h3>Kommer du på trening i dag?</h3>
                <form>
                    <div class="form-group">
                        <select class="form-control" style="padding:5px;font-size: 120%;">
                            <option></option>
                            <option>Jeg kommer</option>
                            <option>Jeg kommer ikke</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="panel panel-default large-box">
            <div class="panel-body">
                <h3>Info</h3>
                <p>
                    Trening hver tirsdag fra kl 20.00 til kl 22.00<br>
                    Stedet er Gaustadhallen<br>
                    Lervikveien 9, 1626 Manstad<br>
                    Pris...<br>
                    <a href="#">Kart</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default small-box">
            <div class="panel-body">
                <h3>Kommer <span class="badge">3</span></h3>
                <h4>Steinar</h4>
                <h4>Lars-Petter</h4>
                <h4>Fredrik</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default small-box">
            <div class="panel-body">
                <h3>Kommer ikke <span class="badge">4</span></h3>
                <h4>Steinar</h4>
                <h4>Lars-Petter</h4>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default small-box">
            <div class="panel-body">
                <h3>Ikke svart (4)</h3>
                <h4>Steinar</h4>
                <h4>Lars-Petter</h4>
            </div>
        </div>
    </div>
</div>
