<div id="attendingBox" class="panel panel-default isattending-box">
    <div class="panel-body">
        <span class="player-count">{{attendingList.length}}</span>&nbsp;KOMMER
        <hr>
        {{#each attendingList}}
            {{username}}<br>
        {{/each}}
    </div>
</div>
