<div id="bigStatusBox" class="jumbotron jumbotron-{{#severity this}}{{/severity}}">
    <h2><small>Status for {{date}}</small></h2>
    <h1 class="jumbotron-header-{{#severity this}}{{/severity}}">{{#statusTitle this}}{{/statusTitle}}</h1>
    <h2><small>{{#statusSubTitle this}}{{/statusSubTitle}}</small></h2>
</div>
