<div id="bigStatusBox" class="jumbotron jumbotron-{{#severity this}}{{/severity}}">
    <h4>Neste trening er {{date}}</h4>
    <h2><small>Blir det trening?</small></h2>
    <h1 class="jumbotron-header-{{#severity this}}{{/severity}}">{{#statusTitle this}}{{/statusTitle}}</h1>
    <h2><small>{{#statusSubTitle this}}{{/statusSubTitle}}</small></h2>
</div>
