<div id="bigStatusBox" class="jumbotron jumbotron-{{#severity this}}{{/severity}}">
    <h4>Status for neste trening - {{date}}</h4>
    <h1 class="jumbotron-header-{{#severity this}}{{/severity}}"><b>{{#text2 this}}{{/text2}}</b></h1>
    <h4>{{#text3 this}}{{/text3}}</h4>
</div>
