<div id="bigStatusBox" class="jumbotron jumbotron-{{#severity this}}{{/severity}}">
    <h3><div id="username">Hei&nbsp;{username}!</div></h3>
    <h4>{{#jumbotronText this}}{{/jumbotronText}}</h4>
    <h1 class="jumbotron-header-{{#severity this}}{{/severity}}"><b>{{#text2 this}}{{/text2}}</b></h1>
    <h4>{{#text3 this}}{{/text3}}</h4>
</div>
