<div class="panel panel-default yellow-box">
    <div class="panel-body">
        <p>
            Trening på tirsdager fra kl 20.00 til kl 22.00 i <a href="https://www.google.no/maps/place/Gaustadhallen/@59.2659743,10.7717805,15z/data=!4m5!3m4!1s0x0:0xe28d42b4c8661585!8m2!3d59.2659743!4d10.7717805">Gaustadhallen</a>
        </p>
        <p>
            Første trening blir tirsdag 16. August og siste trening blir 27. desember.
        </p>
        <p>
            Pris per gang er kr {{dayPrice}},-<br>
            Pris per måned er kr {{monthlyPrice}},-<br>
            Pris for hele perioden er kr {{seasonPrice}},-<br>
            Betal med <a href="https://www.vipps.no/sos.html">Vipps</a> til 91193609
        </p>
    </div>
</div>
