<div class="panel panel-default info-box">
    <div class="panel-body">
        <p>
            Trening på tirsdager fra kl 20.00 til kl 22.00 i <a href="https://www.google.no/maps/place/Gaustadhallen/@59.2659743,10.7717805,15z/data=!4m5!3m4!1s0x0:0xe28d42b4c8661585!8m2!3d59.2659743!4d10.7717805">Gaustadhallen</a>
        </p>
        <p>
            Første trening blir tirsdag 16. August og siste trening blir 27. desember.
        </p>
    </div>
</div>
