<div class="panel panel-default info-box">
    <div class="panel-body">
        <h3>Pris</h3>
        <table class="table">
            <tbody>
                <tr>
                    <td>Hele perioden</td>
                    <td>kr 720,-</td>
                </tr>
                <tr>
                    <td>Pr. måned</td>
                    <td>kr 144,-</td>
                </tr>
            </tbody>
        </table>
        <P>
            Betal med <a href="https://www.vipps.no/sos.html">Vipps</a> til 91193609
        </p>
        <p>
            P.S. Fint om flest mulig betaler for hele perioden.
        </p>
    </div>
</div>
