<div class="panel panel-default gold-box">
    <div class="panel-body">
        <p>
            <h2>Priser</h2>
            <table class="table">
            <tbody>
            <tr>
                <td><small>Per trening</small></td>
                <td>kr {{dayPrice}},-</td>
            </tr>
            <tr>
                <td>Per måned</td>
                <td>kr {{monthlyPrice}},-</td>
            </tr>
            <tr>
                <td>Hele perioden</td>
                <td>kr {{seasonPrice}},-</td>
            </tr>
            </tbody>
        </table>
        Betal med <a href="https://www.vipps.no/sos.html">Vipps</a> til 91193609
        </p>
    </div>
</div>
