<div id="login" class="panel panel-default login-box">
    <form id="loginform">
        <fieldset class="form-group">
            <label for="uid">Brukernavn</label>
            <input type="userid" class="form-control" id="uid" placeholder="Brukernavn">
        </fieldset>
        <fieldset class="form-group">
            <label for="pwd">Passord</label>
            <input type="password" class="form-control" id="pwd" placeholder="Passord">
        </fieldset>
        {{#if this}}
            <div class="alert alert-info" role="alert">
                <p>{{this}}</p>
            </div>
        {{/if}}
        <button type="submit" id="btnLogin" class="btn btn-primary">Logg inn</button>
    </form>
</div>
