<div id="login">
    <form id="loginform">
        <fieldset class="form-group">
            <label for="email">Epost</label>
            <input type="email" class="form-control" id="email" placeholder="Epost">
        </fieldset>
        <fieldset class="form-group">
            <label for="pwd">Passord</label>
            <input type="password" class="form-control" id="pwd" placeholder="Passord">
        </fieldset>
        <button type="submit" id="btnLogin" class="btn btn-primary">OK</button>
    </form>
</div>
