<div id="maybeAttendingBox" class="panel panel-default gray-box">
    <div class="panel-body">
        <span class="player-count">{{maybeAttendingList.length}}</span>&nbsp;vet ikke
        <hr>
        {{#each maybeAttendingList}}
            {{username}}<br>
        {{/each}}
    </div>
</div>
