<div id="notAttendingBox" class="panel panel-default red-box">
    <div class="panel-body">
        <span class="player-count">{{notAttendingList.length}}</span>&nbsp;KOMMER IKKE
        <hr>
        {{#each notAttendingList}}
            {{name}}<br>
        {{/each}}
    </div>
</div>
