<div class="row">
    <div class="col-sm-6">
        <form id="profileForm" class="panel panel-default blue-box">
            <h3>Endre brukerinfo</h3>
            <fieldset class="form-group">
                <label for="username">Brukernavn / epost</label>
                <input readonly type="email" class="form-control" id="username">
            </fieldset>
            <fieldset class="form-group">
                <label for="name">Navn</label>
                <input type="text" class="form-control" id="name">
                <!--small class="text-muted">We'll never share your email with anyone else.</small-->
            </fieldset>
            <fieldset class="form-group">
                <label for="phone">Mobil</label>
                <input type="text" class="form-control" id="phone">
            </fieldset>
            <button type="submit" class="btn btn-primary">Lagre</button>
        </form>
    </div>
    <div class="col-sm-6">
        <form id="pwdForm" class="panel panel-default blue-box">
            <h3>Endre passord</h3>
            <fieldset class="form-group">
                <label for="pwd">Passord</label>
                <input type="password" class="form-control" id="pwd">
            </fieldset>
            <button type="submit" class="btn btn-primary">Lagre</button>
        </form>
    </div>
</div>



