<div class="row">
    <div class="col-sm-12">
        {{>bigStatusBox}}
    </div>
</div>
<div class="row">
    <div class="col-sm-7">
        {{>decisionBox}}
    </div>
    <div class="col-sm-5">
        {{>infoBox}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        {{>attendingBox}}
    </div>
    <div class="col-sm-4">
        {{>notAttendingBox}}
    </div>
    <div class="col-sm-4">
        {{>maybeAttendingBox}}
    </div>
</div>
