body {
  /*font-family: "Arial Black", Gadget, sans-serif*/
  font-family: "Russo One", Gadget, sans-serif;
}

.ball {
    background-image: url('/images/ball.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}

.spinner {
    display: none;
    background-image: url("/images/spinner.gif");
    width:52px; /*width of your image*/
    height:52px; /*height of your image*/
}

.spinner-blue {
    display: none;
    background-image: url("/images/spinner-blue.gif");
    width: 32px; /*width of your image*/
    height: 32px; /*height of your image*/
}

@media (max-width: 768px) {
    .container {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}

#loginform label {
    font-size: 160%;
    font-weight: normal;
}

#loginform input {
    font-size: 130%;
    font-weight: normal;
    height:40px;
}

#loginform button {
    font-size: 130%;
    font-weight: normal;
}

/*body {overflow-y:scroll;}*/


/***************
 ** JUMBOTRON **
 ***************/
.jumbotron {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #F6F6F6;
    border-width: 1px;
    border-style: solid;
    color: #19334d;
}

.jumbotron h1 {
    text-transform: uppercase;
}

.jumbotron-success {
    border-color: #4CBB17;
}

.jumbotron-header-success {
    color: #4CBB17 !important;
}

.jumbotron-warning {
    border-color: #FFCC33;
}

.jumbotron-header-warning {
    color: #FFCC33 !important;
}

.jumbotron-failure {
    border-color: #e60000;
}

.jumbotron-header-failure {
    color: #e60000 !important;
}

.jumbotron-maybe {
    border-color: #336699;
}

.jumbotron-header-maybe {
    color: #336699 !important;
}

/***************
 ** BOXES **
 ***************/


.blue-box {
    background-color: #4CB5F5;
    color: white;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #064d79;
    /*height: 215px;*/
}

.blue-box hr {
    color: #064d79;
    background-color: #064d79;
    border-color: #064d79;
}

.gray-box {
    background-color: #F6F6F6;
    color: #2F3131;
    padding:10px;
    border-width: 1px;
    border-style: solid;
}

.red-box {
    background-color: #ff3333;
    color: #800000;
    padding:10px;
    border-width: 1px;
    border-style: solid;
    border-color: #800000;
    font-size: 120%;
}

.red-box hr {
    color: #800000;
    background-color: #800000;
    border-color: #800000;
}

.yellow-box {
    background-color: #F2F5A9;
    color: #595b0b;
    padding:10px;
    border-width: 1px;
    border-style: solid;
    border-color: #595b0b;
    font-size: 120%;
}

.yellow-box hr {
    color: #595b0b;
    background-color: #595b0b;
    border-color: #595b0b;
}

.green-box {
    background-color: #1FDA9A;
    color: #09432e;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #09432e;
    font-size: 120%;
}

.green-box hr {
    color: #09432e;
    background-color: #09432e;
    border-color: #09432e;
}


.info-box {
     /*background-color: #F8F1E5;
    color: #2F3131;*/
    background-color:#292c3d;
    color: white;
    padding:10px;
    border-width: 1px;
    border-style: solid;
    font-size: 120%;
    font-family: "Montserrat", Gadget, sans-serif;
}

.info-box td {
    color: white;
}

.login-box {
    background-color: #F6F6F6;
    background-color:#292c3d
    color: #2F3131;
    padding:30px;
    border-width: 1px;
    border-style: solid;
}

hr {
    margin-top:7px;
    margin-bottom:10px;
}

.player-count {
    font-size: 200%;
}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 20px;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}